/* ****FONTS**** */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


*{
    box-sizing: border-box;
    margin: 0;
    
}
body{
   background: url("img/theo3.jpeg");
}

img {
   width: 15%; 
}

#imgIndex{
    margin-top: 3em;
    width: auto;
}

/* ****Headings**** */

.headings{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 13em;
    border-bottom: #6a6a6a solid 2px;
    font-family: 'Raleway',sans-serif;
    color: #6a6a6a;
}
.consigne-jaune{
    color: yellow;
}
.consigne-rouge{
    color: red;
}
.consigne-bleu{
    color: blue;
}
.consigne-verte{
    color: green;
}

.consigne-violet{
    color: #e84ed8;
}
.title{
    font-weight: 700;

}

.subtitle{
    font-weight: 400;
}


select{
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    /* Pour les anciennes versions des navigateurs WebKit */
    -moz-box-sizing: border-box;
    /* Pour tous les navigateurs Gecko */
    box-sizing: border-box;
    width: 15em;
    border: #6a6a6a solid 1px;
    background: lightgray;
    font-family: 'Raleway', sans-serif;
    text-align-last: center;
    padding: 0.25em;
    border-radius: 5px;
    transition: 0.25s;
    box-shadow: 5px 3px 3px black;
}

select:active{
    border: 1px solid #9ce989;
    border-radius: 5px;
    transition: 0.25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:focus{
    border: 1px solid #9ce989;
    border-radius: 5px;
    transition: 0.25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.mapping{

    display: flex;
    background-color: #d4d4d4;
    padding: 0.75em
}


.flip-box {
  background-color: transparent;
  /*width: 50px;
  height: 50px;*/
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border-radius: 10px;
  box-shadow: 8px 3px 3px black;
}

.flip-box-inner {
display: flex;
 height: 100px;
 margin: 5px 0;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box .flip-box-inner.flipped {
    -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flip-box-front, .flip-box-back, .flip-box-back-jaune, .flip-box-back-rouge{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-box-back-bleu, .flip-box-back-vert, .flip-box-back-violet{
position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flip-box-front {
  background-color: #cae2c7;
  color: black;
}

.flip-box-back {
  background-color: #d3e2bc;
  color: black;
  transform: rotateY(180deg);
}

.flip-box-back-jaune{
  background-color: yellow;
  color: black;
  transform: rotateY(180deg);
}

  .flip-box-back-rouge{
  background-color: red;
  color: black;
  transform: rotateY(180deg);
}

 .flip-box-back-bleu{
  background-color: blue;
  color: black;
  transform: rotateY(180deg);
}
.flip-box-back-vert{
  background-color: green;
  color: black;
  transform: rotateY(180deg);
}
.flip-box-back-violet{
  background-color: #e84ed8;
  color: black;
  transform: rotateY(180deg);
}

#J020-main{
      height: 80%;
    width: 350px;
}
#J021-main{
     
    height: 100%;
    width: 600px;
}
#J020-sub{
   width:200px;
    height: 100%; 
}
#J021-sub{
     
    width:100px;
    height: 100%;
}

#couloir{
     
    width: 10%;
    height: 600px;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(180.12765834685877deg, rgba(99, 99, 99, 1) 3.122188905547233%, rgba(211, 211, 211, 1) 85.1311844077961%, rgba(212, 212, 212, 1) 85.1311844077961%)

}
.blocs{
     
    border: 1px solid black;
    margin: 0 1.5px;
    border-radius: 6px;
    background: white

}

